fastapi>=0.95.0
uvicorn>=0.21.0
pydantic>=1.10.0
numpy>=1.23.0
soundfile>=0.11.0
torch>=2.0.0
loguru>=0.6.0
ormsgpack>=1.4.0
funasr>=0.1.0
transformers>=4.28.0
scipy>=1.10.0
librosa>=0.10.0
natsort>=8.3.1
protobuf>=3.20.0
tqdm>=4.65.0
rich>=13.3.0
torchaudio>=2.0.0
onnxruntime>=1.14.0
sentencepiece>=0.1.99
accelerate>=0.19.0
datasets>=2.12.0
pytorch_lightning
lightning
tiktoken
einops
loralib
pyrootutils
soundfile
omegaconf
hydra-core
kui
cachetools